<?xml version="1.0" ?>
<launch>
  <arg name="tf_prefix" default="" description="TF prefix to use for all of the MiR's TF frames"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher">
    <param name="robot_description" value="$(command 'xacro $(find-pkg-share mir_description)/urdf/mir.urdf.xacro tf_prefix:=$(var tf_prefix)')" />
  </node>
</launch>
